---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Favorites">
  <div class="p-10">
    <header>
      <h1 class="text-4xl font-bold text-title">Countries Favorites</h1>      
    </header>
  </div>
</Layout>