---
import Layout from '../layouts/Layout.astro';
import {ContainerCountries} from '../components/ui/ContainerCountries.jsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<ContainerCountries client:visible />
	</main>
</Layout>

