---
import Layout from '../layouts/Layout.astro';
import {ContainerCountries} from '../components/ui/ContainerCountries.jsx';
import {DetailCountry} from '../components/ui/DetailCountry.jsx';
import { Header } from '../components/modules/header/Header';
---

<Layout title="App Countries.">
	<div class="[grid-area:header]">
		<Header client:load />
	</div>
	<div class="[grid-area:content] overflow-y-auto h-full p-10">
		<ContainerCountries client:load />
	</div>
	<div class="[grid-area:detail] overflow-hidden md:relative absolute right-0 h-full">
		<DetailCountry client:load/>
	</div>
</Layout>

