---
import Layout from "../layouts/Layout.astro";

---

<Layout title="My countries">
	<div class="p-10">
		<header>
			<h1 class="text-4xl font-bold text-title">My Countries</h1>
		</header>
	</div>
</Layout>
