---
import { Sidebar } from '../components/modules/sidebar/Sidebar';
interface Props {
	title: string;
}
const {pathname} = Astro.url;
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="main" class="h-screen bg-bg">
			<aside class="[grid-area:sidebar] md:relative absolute h-screen z-50">
				<Sidebar client:load pathname={pathname}/>
			</aside>
			<main id="container" class="[grid-area:main] overflow-hidden">
				<slot />
			</main>
			<footer class="[grid-area:footer] p-4">
				<p class="text-center text-sm text-gray-500">
					© {new Date().getFullYear()} Eleo
				</p>
			</footer>
		</div>
	</body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	body{
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
	}
	#main{
		display: grid;
		grid-template-areas:
		"sidebar main "
		"sidebar footer";
		grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr auto;
	}
	#container{
		display: grid;
		grid-template-areas: "header header" "content detail";
		grid-template-columns: 1fr auto;		
		grid-template-rows: auto 1fr;
	}

	::-webkit-scrollbar {
		width: 7px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #d3d3d3;
		border-radius: 16px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #3361ff;
	}
</style>
