---
import { Sidebar } from '../components/modules/sidebar/Sidebar';
import { Header } from '../components/modules/header/Header';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="main" class="h-screen bg-ligth">
			<div class="[grid-area:header]"><Header client:visible /></div>
			<aside class="[grid-area:sidebar]">
				<Sidebar />
			</aside>
			<main class="[grid-area:main] overflow-y-auto bg-bg p-4">
				<slot />
			</main>
			<div class="[grid-area:detail] overflow-y-auto">
				<slot name="detail" />
			</div>
			<footer class="[grid-area:footer] p-4">
				<p class="text-center text-sm text-gray-500">
					© {new Date().getFullYear()} Eleo
				</p>
			</footer>
		</div>
	</body>
</html>
<style is:global>
	#main{
		display: grid;
		grid-template-areas: "sidebar header header" 
		"sidebar main detail"
		"sidebar footer footer";
		grid-template-columns: 300px 1fr auto;
    grid-template-rows: 80px 1fr auto;
	}

	::-webkit-scrollbar {
		width: 7px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #d3d3d3;
		border-radius: 16px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #3361ff;
	}
</style>
